<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesingBay Colombia</title> <!-- Titulo de la pagina -->
    <link rel="shortcut icon" href="img/Logos-03.png"> <!-- icono que se visualiza en la pestaña del navegador -->
    <link rel="stylesheet" href="index.css"> <!-- Linkeo al archivo css del index -->
    <script src="index.js"></script>
</head>
<body>
    <header>  <!-- header con menu hambuerguesa, logo con vinculo al index, barra de busqueda, boton de login y carrito de compras -->
        <div class="menu">  <!--Todo se coloca en div para poder moverlos en el contenedor principal header, al igual que todos van en un "a" para poder tener el click-->
            <a class="a-header" href="#" onclick="openMenu()">
                <img class="imagen-header" src="img/icons-header/menu.png" alt="Menu"> 
            </a> 
        </div>    <!-- boton menu que despliega la barra lateral -->

        <nav>
            <div id="mySidebar" class="sidebar">
                <span class="close-btn" onclick="closeMenu()">   <!-- Boton que cierra la barra lateral -->
                    <img class="imagen-header" src="img/icons-header/cerrar.png" alt="Menu">
                </span>
                <a href="/">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/quienesSomos">¿Quiénes somos?</a>
                <a href="/contacto">Contacto</a>
                <a href="/preguntas">Preguntas frecuentes</a>
                <a href="/avisoLegal">Avisos legales</a>       <!-- contenido del menu que despliega la barra lateral -->
            </div>
        </nav>

        <div class="logo">
            <a class="a-header" href="/">
                <img class="imagen-logo" src="img/icons-header/Logos-05.png" alt="Logo">
            </a>
        </div>        <!-- Logo de la pagina con vinculo directamente al index o pagina de inicio -->

        <div class="buscar">
            <input type="search" class="search-input" placeholder="Buscar un producto">
        </div>        <!-- Barra de busqueda -->

        <div class="carro">
            <a class="a-header" href="#"> 
                <img class="imagen-header" src="img/icons-header/carro-de-la-carretilla.png" alt="Carrito">
            </a>
        </div>         <!-- Boton que me lleva al carrito de compras -->

        <div class="sesion">
            <a class="a-header" href="#">
                <img class="imagen-header" src="img/icons-header/usuario (1).png" alt="Usuario">
            </a>
        </div>          <!-- Boton que me lleva a la pagina de login -->
    </header> <!-- header con menu hambuerguesa, logo con vinculo al index, barra de busqueda, boton de login y carrito de compras -->
    <main>
        <section class="quienes-somos">
            <h1>¿Quiénes Somos?</h1>
                <p>En <strong>DesingBay</strong> Somos una comunidad digital diseñada para que artistas, creadores y talentos emergentes puedan publicar, compartir y vender sus obras de manera sencilla y segura.
                    Nuestro propósito es dar visibilidad al trabajo artístico y crear un puente directo con compradores que valoran la creatividad.
                    Más que una plataforma, somos un escenario abierto en el que cada creador puede mostrar su voz única, conectar con su audiencia y hacer crecer su trayectoria profesional.
                </p>
            
            <div class="mision-vision">
                <div class="card">
                    <img src="img/Iconos/MISIONVECTOR.png" alt="Misión">
                    <h2>Misión</h2>
                    <p>Brindar a los artistas un espacio digital donde vender sus creaciones.</p>
                </div>
                <div class="card">
                    <img src="img/Iconos/VISIONVECTOR.png" alt="Visión">
                    <h2>Visión</h2>
                    <p>Construir una comunidad global donde el arte sea accesible, valorado y apoyado.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer__redes">
            <a class="a__footer" href="#">
                <img class="img__footer" src="img/icon-footer/logotipo-de-instagram.png" alt="Instagram">
            </a>
            <a class="a__footer" href="#">
                <img class="img__footer" src="img/icon-footer/tik-tok.png" alt="Tiktok">
            </a>
            <a class="a__footer" href="#">
                <img class="img__footer" src="img/icon-footer/facebook.png" alt="Facebook">
            </a>
        </div>

        <div class="footer__info">
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="quienessomos.html">¿Quiénes Somos?</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="preguntas.html">Preguntas Frecuentes</a></li>
            </ul>
        </div>

        <span class="footer__span">
            Copyright <b>&copy; 2025 DesingBay</b> | Cali - Colombia | <a href="avisolegal.html">Avisos legales</a>
        </span>
    </footer>
</body>
</html>